html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	width: 100%;
}

header{
	width: 100%;
	position: fixed;
	display: flex;
	height: 9vh;
	min-height: 3em;
	background-color: #e32e2e;
	top: 0px;
	clear: both;
	z-index: 100;
}

.header-name{
	position: absolute;
	right: 0.5em;
	font-size: 20px;
	font-family: 'Cambria Math' , 'Geogia' , sans-serif;
	padding-left: 0.5em;
}

.header-name span{
	font-weight: bold;
}

.header-wrapper{
	position: absolute;
	top: 1em;	
}

.outer-ham{
	margin: 0;
	cursor: pointer;
	padding: 0.5em 0.1em 0.5em 0.2em;
}

.header-hamburger{
	width: 1.5em;
	height: 3px;
	background-color: #000;
}

.header-hamburger::before,
.header-hamburger::after{
	content: '';
	position: absolute;
	width: 1.5em;
	height: 3px;
	background-color: #000;
	margin-top: -6px;
}

.header-hamburger::after{
	width: 1.2em;
	margin-top: 6px;
	background-color: #000;
}

nav{
	width: 50vw;
	height: 100vh;
	background-color: #333;
}

ul{
	width: 100%;
	padding: 0;		
}

li{
	text-align: center;
	list-style: none;
	padding: 1.5em 1em;
	border-bottom: 1px solid #999;
	cursor: pointer;
}

li:last-of-type{
	border-bottom: none;
}

li:hover{
	background-color: #000;
}

a{
	text-decoration: none;
	color: #fff;
	font-family: 'Geogia' , 'Cambria Math', sans-serif;
	
}

.is-active{
	background-color: aqua;
}

.closed{
	display: none;
}

.opened{
	animation: load 300ms 1 forwards;
	display: block;
	z-index: 100;
}

@keyframes load{
	0%{
		transform: translate(-100%) scale(0);
	}
	60%{
		transform: translate(20%) scale(1.2);
	}
	90%{
		transform: translate(0) scale(0.8);
	}
	100%{
		transform: translate(0) scale(1);
	}
}

.cross{
	width: 1.5em;
	height: 3px;
	background-color: #000;
	transform: rotate(-45deg);
}

.cross::before{
	content: '';
	position: absolute;
	width: 1.5em;
	height: 3px;
	background-color: #000;
	transform: rotate(90deg);
}


/*------------main section-------------*/

main{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222;
}

.logo{
	width: 30%;
}

.main-content{
	width: 50vw;
	text-align: center;
}

.main-p{
	padding-top: 2rem;
	font-size: 20px;
	text-transform: capitalize;
	font-family: 'Franklin Gothic', sans-serif;
	margin: 0;
	border-top: 1px solid #333;
}

.main-h{
	margin: 0;
	text-transform: uppercase;
	font-family: 'Microsoft YaHei UI', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 3rem;
}

.buttons{
	width: 120%;
	padding-bottom: 3rem;
	border-bottom: 1px solid #333;
	transform: translateX(-5%);
}

.btn{
	width: 40%;
	height: 2.5rem;
	background-color: transparent;
	/*background-image: linear-gradient(to right, red , orangered, orange, yellow, white, gray, darkgray, black);*/
	border: 2px solid #333;
	border-radius: 5px;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	font-weight: bold;
	cursor: pointer;
	color: #eee;
	outline: none;
}

.btn:hover{
	/*background-color: linear-gradient(to top right, #000, #333, #666);*/
	background-color: #333;
	
}

/*------------about section-----------------*/

#about{
	width: 100%;
	background-color: #2a7474;
	height: auto;
}

.section-about{
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	background-color: white;
	color: black;
}

.about-h{
	text-align: center;
	font-family: 'Microsoft YaHei UI', sans-serif;
	letter-spacing: 2px;
}

.about-p{
	letter-spacing: 1.5px;
	font-family: 'Cambria Math' , 'Geogia' , sans-serif;
}

/*----------projects----------*/


.portfolio {
	/*margin: 3em 0 0;*/
	text-align: center;
}

.port-item {
	margin: 0 auto;
	width: 100%;
}

.port-item img {
	padding: 1rem;
	display: block;
	width: calc(100% - 2rem);
	height: calc(100%; - 2rem);
}

.portfolio-h{
	text-align: center;
	font-family: 'Microsoft YaHei UI', sans-serif;
	letter-spacing: 2px;
}

.port-desc h2{
	margin: 0;
	font-family: 'Franklin Gothic', sans-serif;
	letter-spacing: 1.2px;
}

/*------------contact--------------*/

#contact{
	width: 100%;
	height: auto;
}

.section-contact{
	margin-top: 1rem ;
	padding: 1rem;
	background-color: #2a7474;

}

form{
	width: 90%;
	margin: 0 auto;
	background-color: yellow;
	color: #666;
}
input,
textarea{
	display: block;
	width: 80%;
	padding: 0.2rem;
	border: none;
	border-radius: 5px;
	outline: none;
}

label{
	display: block;
	padding: 1rem;
	font-weight: bold;
	letter-spacing: 1.2px;
}

input#msg{
	height: 3rem;
}

#sub{
	border: 2px solid black;
	color: #fff;
	background-color: black;
	outline: none;
	cursor: pointer;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding: 0.4rem 1rem;
	border-radius: 5px;
	opacity: 0.9;
	z-index: -1;
}

.contact-h{
	text-align: center;
	font-family: 'Microsoft YaHei UI', sans-serif;
}

.animated{
	animation: launch 1s 1;
}

@keyframes launch {
	0%{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	10%, 15%{
		transform: translateY(20px);
	}
	40%, 70%{
		transform: translateY(-1000px) scale(1);
	}
	70%{
		opacity: 1;
	}
	71%{
		opacity: 0;
		transform: translateY(-1000px) scale(0.6);
	}
	72%{
		opacity: 1;
		transform: translateY(0px) scale(0.6);
	}
	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}


/*----------social media----------*/

#social {
	width: 100%;
}

.social-section{
	width: 100%;
}

.social-h{
	text-align: center;
	font-family: 'Microsoft YaHei UI', sans-serif;
}

.handles{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.handles a{
	display: flex;
	justify-content: center;
	align-items: center;
}

.handles a img:hover{
	transform: scale(1.2);
}

/*------------footer----------------*/

footer{
	width: 100%;

}

footer p{
	width: 90%;
	margin: 2rem auto;
	text-align: center;
	font-family: 'Cambria Math' , 'Geogia' , sans-serif;
	letter-spacing: 1.1px;
}